<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer{
        margin-left: 240px;
    }
    @media (max-width:1000px){
        #dashboard{
            margin-left: 0;
        }
        footer{
        margin-left: 0;
    }
    }
    </style>
</head>
<body>
    <footer style="width: 100%;border-top: 1px solid rgba(0,0,0,0.3);">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 py-1 text-center">
                    <p style="color: #000;">Copyrights all rights reserved</p>
                </div>
                <div class="col-lg-6 py-1 text-center">
                    <p style="color: #000;">Designed by Techwizard</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>