 <head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/foot.css">
 </head>
 <body> 
     <footer id="foot">
         <div class="container">
           <div class="row">
             <div class="col-md-4 col-sm-6 px-4">
              <div class="w-100">
                <h3 class="text-light py-4">Blood Bank</h3>
                <p style="font-size: 18px; color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <div class="d-flex p-2">
                  
                    <i class="fa fa-facebook" style="color: white;margin: 0 10px;font-size: 20px;"></i>
                    <i class="fa fa-twitter" style="color: white;margin: 0 10px;font-size: 20px;"></i>
                    <i class="fa fa-youtube" style="color: white;margin: 0 10px;font-size: 20px;"></i>
                    <i class="fa fa-instagram" style="color: white;margin: 0 10px;font-size: 20px;"></i>
                    <i class="fa fa-telegram" style="color: white;margin: 0 10px;font-size: 20px;"></i>
                </div>
             </div>
             </div>
             <div class="col-md-4 col-sm-6 px-4">
              <div class="w-100">
                <h3 class="text-light py-4">Contact</h3>
                <p style="font-size: 18px; color: white;">P:9826516362</p>
                <p style="font-size: 18px; color: white;">E:blood@gmail.com</p>
                <p style="font-size: 18px; color: white;">A:17/3 Vinoba Nagar near Tilak Nagar Indore</p>
                <p style="font-size: 18px; color: white;">Indore ,(M,P)</p>
             </div>
             </div>
             <div class="col-md-4 col-sm-6 px-4">
              <div class="w-100">
                <h3 class="text-light py-4">Opening Hours</h3>
                <p style="font-size: 18px; color: white;">Monday - Friday : 08:00 - 22:00</p>
                <p style="font-size: 18px; color: white;">Saturday - Sunday : 08:00 - 22:00</p>                
             </div>
             </div>
           </div>
         </div>
         <div class="container-fluid" style="border-top: 2px solid white;">
              <div class="container">
                <div class="row p-2 justify-content-between align-content-center">
                  <div class="col-md-3">
                    <span style="color: white;z-index: 1;">Copyrights all rights reserved</span>
                  </div>
                  <div class="col-md-3">
                    <span style="color: white;z-index: 1;">Designed By TechWizard</span>
                  </div>    
               </div>
            </div>
         </div>
     </footer>
    </body>     