<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script> 

  <style>
    #head{
  padding: 1px;
  background: white;
  display: flex;
  align-items: center;
  z-index: 2;
}
.nav-item{
  padding: 0 12px;
}
.container1{
  max-width: 1200px;
  padding: 2px;
  margin: auto;
}
.nav-item:hover{
  transition: 0.5s!important;
  background: #EEEEEE;
  border: none;
  border-radius: 9px;
}
.dropdown-item:focus{
  background: #EEEEEE!important;
}
.pos-sticky{
  position: sticky!important;
  top: 0!important;
}
.fa{
  font-size: 20px;
  font-weight: bold;
}
.para,.para1{
  font-size: 15px;
}
@media screen and (max-width:560px){  
  .fa{
    font-size: 15px;
  }
}
  </style>
</head>
<body>
  <section id="head" style="box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);border: none;z-index: 2;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-6 d-flex justify-content-center my-1" >
          <img src="/images/blood_logo1.jpeg" alt="" style="width: 80px;height: 70px;">
          <span class="pt-3 h4" style="color: #5C5C5C;">Blood Bank</span>
        </div>
        <div class="col-md-3 col-6 d-flex justify-content-center my-1">
          <i class="fa fa-phone pt-3"></i>
        <div class="px-3">
          <p class="para" style="color: #606060;">+92936428433</p>
          <p class="para1" style="color: #606060;margin-top: -20px;">blood@gmail.com</p>
        </div>
        </div>
        <div class="col-md-3 col-6 d-flex justify-content-center my-1">
          <i class="fa fa-map-marker pt-3" ></i>
        <div class="px-3">
          <p class="para" style="color: #606060;">17/3 Vinoba Nagar</p>
          <p class="para1" style="color: #606060;margin-top: -20px;">Near Tilak Nagar Indore</p>
        </div>
        </div>
        <div class="col-md-3 col-6 d-flex justify-content-center my-1">
          <i class="fa fa-clock pt-3" ></i>
        <div class="px-3">
          <p class="para" style="color: #606060;">9:00 am - 10:00 pm</p>
          <p class="para1" style="color: #606060;font-weight: 450;margin-top: -20px;">Monday - Friday</p>
        </div>
        </div>
      </div>
    </div>
  </section>
  
  
<div id="navbar1">
<nav class="navbar navbar-expand-lg d-flex align-items-center"  style="margin: 3px 0;background-color: white;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);">
  <div style="max-width: 1400px;width: 100%; padding: 2px;margin:0 auto;margin-top: 5px; justify-content: space-around;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: 5px;">
    <ul class="navbar-nav mr-auto text-dark">
      <li class="nav-item active">
        <a class="nav-link text-dark h6" href="/index1">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark h6" href="/about">About Us</a>
      </li>
      <li class="nav-item dropdown"> 
        <a class="nav-link text-dark dropdown-toggle h6" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Register
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-dark h6" href="/user/user_registration">User Register</a>
          <a class="dropdown-item text-dark h6" href="/blood_bank/blood_bank_registration">Blood Bank Register</a>          
          <a class="dropdown-item text-dark h6" href="/organization/Organization_registration">Organization Register</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle h6" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-dark h6" href="/user/user_login/user" >User Login</a>
          <a class="dropdown-item text-dark h6" href="/blood_bank/blood_bank_login/bank" >Blood Bank Login</a>          
          <a class="dropdown-item text-dark h6" href="/organization/Organization_login/camp">Organization Login</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark h6" href="/Camp">Camps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark h6" href="/contact">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mx-2" type="search" placeholder="Search for blood" aria-label="Search" style="box-shadow: 0 0 4px rgb(35, 34, 34);">
      <a class="btn my-2 my-sm-0 px-4"  style="background-color: #DF2443;color: white;border-radius: 8px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Search</a>
    </form>
  </div>

</div>
</nav>
</div>  
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header m-auto d-flex justify-content-center flex-column align-items-center">
        <h5 class="text-center" id="staticBackdropLabel">Availability of Blood </h5>
        <div class="row">
          <div style="width: 150px;height: 2px;background: #DF2443;margin: 5px;"></div>
          <div style="width: 150px;height: 2px;background-color: black;margin: 5px;"></div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
          <div class="py-2 px-5 fs-3" style="background-color: #DF2443;color: white;">
               A
          </div>
          <div class="p-2 d-flex justify-content-start align-items-center" style="color: rgb(166, 166, 166);">
               : Blood is Available Now
          </div>
      </div>
      <div class="modal-footer m-auto d-flex">       
        <p>Click on Register Now for 50% Discount</p><a class="mx-2" href="/user/user_registration" style="color: #1400FF;">Register Now</a>
        
      </div>
    </div>
  </div>
</div>
</body>
<script>
  $(document).ready(function() {
  $(window).scroll(function() {
    var scrl = $(window).scrollTop();
    if (scrl >= 78) {
      console.log(scrl);
      $("#navbar1").addClass("pos-sticky");
    } else {
      $("#navbar1").removeClass("pos-sticky");
    }
  });
});
</script>