<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<<<<<<< HEAD
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>        
=======
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>
        
>>>>>>> e5182a55fa75377ae5ad85b9a989111fd8ca8ac4
        input{
            border-radius: 30px;
            padding: 10px;
        }
        textarea{
            border-radius: 13px;
            outline: none;
        }
        .para{
            text-align: end;
            margin-left: 0;
            margin-top: 6px;
        }
        @media (max-widht:900px){
            .para{
                text-align: start;
                margin-left: -50px;
            }
        }
        .heading{
            width: 100%;
            height: 150px;
            margin: 10px 0;
            background: url(images/foot.jpg);
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        .heading div .red{
            width: 100px;
            height: 2px;
            background: #DF2443;
            margin: 0 5px;
        }
        .heading div .black{
            width: 100px;
            height: 2px;
            background: white;
            /* margin: 0 5px; */
        }
    </style>
</head>

<body>
    <header>
        <%- include('../partials/header', {variant: 'compact' }); %>
      </header>
<<<<<<< HEAD
      
=======
      <!-- <div class="heading">
        <div class="p-1">
           <h1>Edit Profile</h1>
           <div class="d-flex justify-content-center align-items-center">
               <div class="red"></div>
               <div class="black"></div>
           </div>
        </div>
       </div> -->
>>>>>>> e5182a55fa75377ae5ad85b9a989111fd8ca8ac4
    <main>
        <section class="w-100 py-5">
            <div class="container p-5" style="box-shadow: 0 0 10px rgba(0,0,0,0.3);border-radius: 20px;">

                <div class="row" style="background-color: rgb(255, 255, 255); border-radius: 10px 10px 10px 10px; ">
                    <center>
                        <div class="p-3">
                            <h1>Edit Profile</h1>
                            <div class="d-flex justify-content-center">
                                <div style="width: 140px;height: 2px;margin: 10px 10px;background: #df2443;box-shadow: 0 0 10px #df2443;"></div>
                                <div style="width: 140px;height: 2px;margin: 10px 0;background: #000;box-shadow: 0 0 10px #000;"></div>
                            </div>
                        </div>
                    </center>
                    <!-- <div class="col col-lg-4 p-2 inp " style="background-color: yellow;  display: flex; align-items: center;">
                       
                    </div> -->
                    <center>
                        <div class="col-lg-10 my-2 p-2"  style=" display: flex; margin: auto;">
                            <label class="mt-1">
                                FullName
                            </label>
                            <input type="text" class="inp  form-control" placeholder="Full Name"
                                style="margin-left: 50px;">
                            <input type="text" class="inp  form-control" placeholder="Last Name"
                                style="margin-left: 50px;">
                        </div>
                    </center>
                    <center>
                        <div class="col-lg-10 p-2  my-2 " style=" display: flex; margin: auto;">
                            <p class="mt-1 me-5" style="margin-left: -35px;">
                                PhoneNumber
                            </p>
                            <input type="text" class="inp  form-control" placeholder="Full Name">
                        </div>
                    </center>
                    <center>
                        <div class="col-lg-10 p-2 my-2 " style=" display: flex; margin: auto;">
                            <p class="" style="margin-left: 30px;">
                                Email
                            </p>
                            <input type="text" class="inp  form-control" placeholder="Full Name"
                                style="margin-left: 47px;">
                        </div>
                    </center>
                    <center>
                        <div class="col-lg-10 p-2 my-2"style=" display: flex; margin: auto;">
                            <p class="mt-1" style="margin-left: 10px;">
                                Address
                            </p>
                            <!-- <input type="text" class="inp  form-control" placeholder="Full Name"
                            style="margin-left: 47px;" > -->
                            <textarea name="" id="" cols="50" rows="5" style="margin-left: 50px; border: 1px solid rgba(0,0,0,0.3);"></textarea>
                            <div class="container">
                            <div class="row ms-2">
                                <div class="col-lg-6 p-2" >
                                    <p class=" pe-4 para">
                                        Age
                                    </p>
                                </div>  
                                <div class="col-lg-6 p-2"> 
                                    <input type="text" class="inp form-control" placeholder="Age"
                                        style=" width: 100%; height: 40px;">
                                </div>
                                <div class="col-lg-6 p-2 ">
                                    <p class=" pe-4 para">
                                        BloodGroup
                                    </p>
                                </div>   
                                <div class="col-lg-6 p-2">
                                    <input type="text" class="inp  form-control" placeholder=" Blood Group"
                                        style=" width: 100%; height: 40px;">
                                </div>                                
                            </div>
                        </div>
                        </div>
                    </center>
                    <center>
                        <div class="col-lg-12 my-2 px-5 py-2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 my-2 d-flex">
                                        <p class="mt-1" style="margin-left: 15px;">
                                            District
                                        </p>
                                        <input type="text" class="inp form-control" placeholder="Enter District" style="margin-left: 50px; width: 100%; height: 40px;">
                                    </div>
                                    <div class="col-lg-6 my-2 d-flex ">
                                        <p class="mt-1 ms-1">
                                            State
                                        </p>
                                    <input type="text" class="inp  form-control" placeholder="Enter State" style="margin-left: 50px; width: 100%; height: 40px;">
                                    </div>
                                </div>
                            
                            
                               
                            </div>
                        </div>
                    </center>
                    <center>
                        <div class="col-lg-10 my-2 p-2" style=" display: flex; margin: auto;">
                            <p class="mt-1" style="margin-left: 10px;">
                                Pincode
                            </p>
                            <input type="text" class="inp  form-control" placeholder=""
                                style="margin-left: 50px; width: 100%;">
                              
                        </div>
                    </center>
                    <center>
                        <div class="col-lg-10 my-2 p-2" style=" display: flex; margin: auto;">
                            <p class="mt-1" style="margin-left: -30px;">
                                LastDonation 
                            </p>
                            <input type="date" class="inp  form-control" placeholder="Full Name"
                                style="margin-left: 50px;">
                            
                        </div><br>
                    </center>
                    <center class="p-2"><button class="btn btn-danger">Submit</button></center>
                </div>

            </div>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer', {variant: 'compact' }); %>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
<<<<<<< HEAD
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
=======
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
>>>>>>> e5182a55fa75377ae5ad85b9a989111fd8ca8ac4
        </script>
</body>

</html>