<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <!-- Bootstrap JS (Place this before your closing </body> tag) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp'>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#head{
  padding: 1px;
  background: white;
  display: flex;
  align-items: center;

}
.nav-item{
  padding: 0 12px;
}
.container1{
  max-width: 1200px;
  padding: 2px;
  margin: auto;
}
.nav-item:hover{
  transition: 0.5s!important;
  background: #EEEEEE;
  border: none;
  border-radius: 9px;
}
#process{
  padding: 10px;
  background: white;  
  /* box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.3); */
  margin: 30px 0px;
}
#process .container .row .col-lg-4 .image1,#process .container .row .col-lg-4 .image2,#process .container .row .col-lg-4 .image3{
  width: 100%;
  height: 450px;
  position: relative;
  background: url(images/donor_process2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repea
}
#process .container .row .col-lg-4 .image2{
  background: url(images/dropimg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#process .container .row .col-lg-4 .image3{
  background: url(images/donor_process4.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repea
}
#process .container .row .col-lg-4 .image1 .donor_process,#process .container .row .col-lg-4 .image3 .donor_process,#process .container .row .col-lg-4 .image2 .donor_process{
    background-color: rgba(0, 0, 0, 0.6);
    width: 95%;
    height: 0;
    bottom: 0;
    color: #ffffff;
    right: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    position: absolute;
    transition: all 0.8s ease-out 0.30s;
    text-align: center;
    padding: 0 38px 0;
    z-index: 1;
}
#process .container .row .col-lg-4 .image1 .donor_process h4,#process .container .row .col-lg-4 .image3 .donor_process h4,#process .container .row .col-lg-4 .image2 .donor_process h4{
  color: white;
  font-size: 30px;
  padding: 5px;
  border-bottom: 2px solid #F5A200;
}
#process .container .row .col-lg-4 .image1 .donor_process ul li,#process .container .row .col-lg-4 .image3 .donor_process ul li,#process .container .row .col-lg-4 .image2 .donor_process ul li{
   color: white;
   padding: 5px 0px;
   text-align: start;
   font-weight: bold;
}
#process .container .row .col-lg-4 .image1 h2,#process .container .row .col-lg-4 .image2 h2,#process .container .row .col-lg-4 .image3 h2{
  color: white;
  transition: all 0.5s ease-out 0.15s;
}
#process .container .row .col-lg-4 .image1:hover h2,#process .container .row .col-lg-4 .image2:hover h2,#process .container .row .col-lg-4 .image3:hover h2{
  display: none;
}
#process .container .row .col-lg-4 .image1:hover .donor_process,#process .container .row .col-lg-4 .image2:hover h2,#process .container .row .col-lg-4 .image2:hover .donor_process,#process .container .row .col-lg-4 .image2:hover h2,#process .container .row .col-lg-4 .image3:hover .donor_process{
  z-index: 1;
  opacity: 1;  
  height: 95%;
  cursor: pointer;
}
#mission{
  padding: 10px;
  background: #C7E7FD;
  margin: 20px 0;
  /* box-shadow: 0 10px 4px rgba(0, 0, 0, 0.3); */
}
#mission .container .row .col-lg-4 .mission1{
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: 40px 40px 40px 40px; 
  background: white;
  box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.3);
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#mission .container .row .col-lg-4 .mission1 p{
  font-weight: 500;
}
#mission .container .row .col-lg-4 .mission1 .line{
  width: 200px;
  height: 3px;
  background: #000;
}
#mission .container .row .col-lg-4 .mission1::before{
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  border: 20px solid rgba(255, 230, 1, 0.76);
  background: white;
  border-radius: 50%;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}
#projectFacts{
  padding: 1px;
  background: url(images/foot.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 10px 0;
  /* box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3); */
}
.sectionClass {
  padding: 20px 0px 50px 0px;
  position: relative;
  display: block;
  background: rgba(0, 0, 0, 0.);
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}
.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}
.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}
.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
}
.projectFactsWrap{
    display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}
#projectFacts .fullWidth{
  padding: 0;
}

.projectFactsWrap .item{
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectFactsWrap .item p.number{
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.projectFactsWrap .item p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans';
}

.projectFactsWrap .item span{
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}

.projectFactsWrap .item i{
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}

.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
  color: white;
}

.projectFactsWrap .item:hover span{
  background: white;
}

#facts{
  padding: 10px;
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.3); 
  margin: 20px 0;
  /* box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3); */
}

@media (max-width: 786px){
  .projectFactsWrap .item {
     flex: 0 0 50%;
  }
}

#home{
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 144, 255,0.959);
}

#home::before{
  z-index:2;
  content: '';
  position: absolute;
  background: rgba(251,3,3,0.034);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#home .content{
  z-index: 3;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

#home .content.active{
   display: block;
}

#home .content h3{
  text-align: center;
}

#home img{
  /* z-index: ; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home .slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

#home .slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.5);
  transition: 0.3 ease;
}
#home .slider-navigation .nav-btn.active{
  background: #09a6d4;
}
#home .slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}
.img-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}
.img-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}
.fact{
  margin-right: 200px;
  margin-top: 50px;
}
@media (max-width: 906px){
  .fact {
     margin-right: 0;
  }
} 
</style>  
</head>

<body>
  
  <header>
    <%- include('../partials/header', {variant: 'compact' }); %>
  </header>
  <!-- navbar end -->
  <!-- ------------------------slider start---------------------- -->
    <div id="home">
        <img class="img-slide active" src="images/slide1.jpeg" alt="">
        <img class="img-slide" src="images/slide2.jpg" alt="">
        <img class="img-slide" src="images/slide3.jpg" alt="">
        <div class="content">
          <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi provident, illo architecto autem voluptatum at nulla rerum. Officiis beatae incidunt sint, magni quas iusto, vero pariatur nam optio nesciunt culpa!</h3>
        </div>
        <div class="content active">
          <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi provident, illo architecto autem voluptatum at nulla rerum. Officiis beatae incidunt sint, magni quas iusto, vero pariatur nam optio nesciunt culpa!</h3>
        </div>
        <div class="content">
          <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi provident, illo architecto autem voluptatum at nulla rerum. Officiis beatae incidunt sint, magni quas iusto, vero pariatur nam optio nesciunt culpa!</h3>
        </div>  
        <div class="slider-navigation">
          <div class="nav-btn active"></div>
          <div class="nav-btn"></div>
          <div class="nav-btn"></div>
        </div>
      </div>
<!-- ------------------------slider end---------------------- -->

<!-- ------------------process start------------------- -->
  <section id="process">
    <div class="container">
      <h1 class="py-2" style="color: black;text-align: center;">Blood Donation Process</h1>
      <div style="width: 200px;height: 2px;background: #DF2443;margin:20px auto;"></div>
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-4 col-md-6 col-sm-12 p-2">
          <div class="image1 d-flex justify-content-center align-items-end">
            <div class="donor_process">
              <h4 style="color: white;">Registration</h4>
              <ul>
                <li>
                  Before you can donate blood, you will be asked to complete a brief questionnaire about your medical history and lifestyle habits.
                </li>
                <li>
                  Once you are deemed eligible, you'll need to provide identification and complete some paperwork. 
                </li>
                <li>
                  This typically involves showing a government-issued ID, such as a driver's license, and filling out a donor registration form.
                </li>
              </ul>
            </div>
            <h2>Donor Process 1</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-2">
          <div class="image2 text-center d-flex justify-content-center align-items-end">            
            <div class="donor_process">
              <h4 style="color: white;">Health Enquiry</h4>
              <ul>
                <li>A medical professional will review your medical history and check your vital signs, such as blood pressure, pulse, and temperature. </li>
                <li>They will also ask you questions about your health to ensure you are fit for donation.</li>
                <li>You will be asked to read and sign a consent form, confirming that you understand the blood donation process, its risks, and your rights as a donor.</li>
              </ul>
            </div>
            <h2>Donor Process 2</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-2">
          <div class="image3 text-center d-flex justify-content-center align-items-end">            
            <div class="donor_process">
              <h4 style="color: white;">Refreshment</h4>
              <ul>
                <li>After donation, you will be encouraged to relax for a short period, usually about 10-15 minutes</li>
                <li>This helps ensure you feel well before leaving the donation site.</li>
                <li>You'll be provided with a small snack and something to drink during this time.</li>
              </ul>
            </div>
            <h2 >Donor Process 3</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ------------process end------------- -->
  <!-- -------------------------------Mission------------------------------- -->
  <section id="mission">
    <div class="container text-center">
            <h1 style="color: white;font-weight: bold;font-size: 50px;">Our Mission</h1>
            <p style="color: #616161;font-size: 23px;">At Our Blood bank we are on a mission to save lives through the power of your generosity.</p>
            <div class="row pt-3">
              <div class="col-lg-4 p-3">
                <div class="mission1">
                     <h1>Mission</h1>
                     <p>We empower our donors to be the heroes in someone's story. Your blood donation is not just a gift; it's an act of compassion, selflessness, and community.</p>
                     <div class="line"></div>
                     <h3 class="py-4">01</h3>
                </div>
              </div>
              <div class="col-lg-4 p-3">
                <div class="mission1">
                  <h1>Vision</h1>
                  <p>We empower our donors to be the heroes in someone's story. Your blood donation is not just a gift; it's an act of compassion, selflessness, and community.</p>
                  <div class="line"></div>
                  <h3 class="py-4">02</h3>
                </div>
              </div>
              <div class="col-lg-4 p-3">
                <div class="mission1">
                  <h1>Goals</h1>
                  <p>We empower our donors to be the heroes in someone's story. Your blood donation is not just a gift; it's an act of compassion, selflessness, and community.</p>
                  <div class="line"></div>
                  <h3 class="py-4">03</h3>
               </div>
              </div>
            </div>
    </div>
  </section>
   <!-- -------------------------------Mission End--------------------------- -->

  <!-- ------------------------------counter-------------------------------- -->
  <div id="projectFacts" class="sectionClass">
    <div class="fullWidth eight columns">
        <div class="projectFactsWrap ">
            <div class="item wow fadeInUpBig animated animated" data-number="12" style="visibility: visible;">
                <div class="p-2">
                  <img src="images/blood-donation.png" alt="" style="width: 70px;height: 70px;">
                </div>
                <div class="p-2">
                  <p id="number1" class="number">12</p>
                  <span></span>
                  <p>Donor Registered</p>
                </div>
            </div>
            <div class="item wow fadeInUpBig animated animated" data-number="55" style="visibility: visible;">
                <div class="p-2">
                    <img src="images/blood.png" alt="" style="width: 70px;height: 70px;">
                </div>
                <div class="p-2">
                <p id="number2" class="number">55</p>
                <span></span>
                <p>Blood Units</p>
              </div>
            </div>
            <div class="item wow fadeInUpBig animated animated" data-number="359" style="visibility: visible;">
                <div class="p-2">
                  <img src="images/tent.png" alt="" style="width: 70px;height: 70px;">
                </div>
                <div class="p-2">
                <p id="number3" class="number">359</p>
                <span></span>
                <p>Blood Camps</p>
              </div>
            </div>
            <div class="item wow fadeInUpBig animated animated" data-number="246" style="visibility: visible;">
                <div class="p-2">
                   <img src="images/blood-bank.png" alt="" style="width: 70px;height: 70px;">
                </div>
                <div class="p-2">
                <p id="number4" class="number">246</p>
                <span></span>
                <p>Blood Bank Registered</p>
              </div>
            </div>
        </div>
    </div>
</div>
  <!-- ------------------------------counter end-------------------------------- -->

<!-- --------------------------------------facts-------------------------------- -->
<section id="facts">
      <div class="container-fluid">
         <div class="row">
          <div class="col-lg-5 col-md-12 p-5 d-flex justify-content-center" style="overflow: hidden;">
                  <div style="padding-left: 100px; width: 800px;height: 650px;background: #FF0000;position: relative;overflow: hidden;padding: 10px;box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">
                     <div style="width: 50%;height: 100%;background: white;">                        
                     </div>
                     <img src="images/girl.jpg" alt="" style="width: 75%;height: 100%;position: absolute;top: 5%;left: 5%;">
                  </div>
                  <div style="background-color: white;position: absolute;width: 50%;left: 50%;top: -10%;height: 200%;transform: rotate(15deg);transform: translateX();"></div>
          </div>
          <div class="col-lg-7 col-md-12 text-center py-5">
            <div class="fact" >
                 <h3 style="color: #7c7c7c;font-size: 30px;">Some Facts</h3>
                 <h2 class="p-2" style="font-size: 40px;">A most facts that you should have know about  it in India</h2>
                 <p style="font-size: 25px;">A most facts that you should have know about  it in India</p>
                 <div class="accordion accordion-flush my-5 p-2" id="accordionFlushExample" style="border: none;border-radius: 10px;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="font-size: 20px;">
                        How much blood unit require in India daily ?
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">On World Blood Donors Day, the health ministry drew attention to the country's high demand for blood transfusions, which currently occurs every two seconds. The country requires an annual average of 14.6 million blood units, and consistently faces a shortfall of 1 million units.</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="font-size: 20px;">
                        How many blood bank in India ?
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">There are 3840 licensed blood banks (blood centers) in the country. The details of Government and Private licensed blood banks in the country is given at Annexure–A.</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" style="font-size: 20px;">
                       How much bloo unit require every year and how much we fulill ?
                      </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Every year our nation requires about 5 Crore units of blood, out of which only a meager 2.5 Crore units of blood are available.</div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-danger rounded-3" style="color: white;">Learn More</button>
          </div>
        </div>
         </div>
      </div>
</section>
<!-- --------------------------------------facts end---------------------------- -->
 

  <!-- footer  -->
<footer>
    <%- include('../partials/footer', {variant: 'compact' }); %>
</footer>
<!-- footer end -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script> -->

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script> -->



<!--  -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <!-- Initialize the slick slider -->
  <script>
    jQuery(document).ready(function () {
      jQuery(".c-slider-init").slick({
        dots: false,
        nav: false,
        arrows: false,
        infinite: true,
        speed: 1200,
        autoplaySpeed: 5000,
        slidesToShow: 1,
        adaptiveHeight: true,
        autoplay: true,
        draggable: false,
        pauseOnFocus: false,
        pauseOnHover: false,
      });

      jQuery(".slick-current").addClass("initialAnimation");

      let transitionSetup = {
        target: ".slick-list",
        enterClass: "u-scale-out",
        doTransition: function () {
          var slideContainer = document.querySelector(this.target);
          slideContainer.classList.add(this.enterClass);
          jQuery(".slick-current").removeClass("animateIn");
        },
        exitTransition: function () {
          var slideContainer = document.querySelector(this.target);
          setTimeout(() => {
            slideContainer.classList.remove(this.enterClass);
            jQuery(".slick-current").addClass("animateIn");
          }, 2000);
        },
      };

      var i = 0;
      // On before slide change
      jQuery(".c-slider-init").on("beforeChange", function (
        event,
        slick,
        currentSlide,
        nextSlide
      ) {
        if (i == 0) {
          event.preventDefault();
          transitionSetup.doTransition();
          i++;
        } else {
          i = 0;
          transitionSetup.exitTransition();
        }

        jQuery(".c-slider-init").slick("slickNext");
        jQuery(".slick-current").removeClass("initialAnimation");
      });
    });
  </script>
  <script>

	$.fn.jQuerySimpleCounter = function( options ) {
	    var settings = $.extend({
	        start:  0,
	        end:    100,
	        easing: 'swing',
	        duration: 400,
	        complete: ''
	    }, options );

	    var thisElement = $(this);

	    $({count: settings.start}).animate({count: settings.end}, {
			duration: settings.duration,
			easing: settings.easing,
			step: function() {
				var mathCount = Math.ceil(this.count);
				thisElement.text(mathCount);
			},
			complete: settings.complete
		});
	};


$('#number1').jQuerySimpleCounter({end: 45000,duration: 3000});
$('#number2').jQuerySimpleCounter({end: 100000,duration: 4000});
$('#number3').jQuerySimpleCounter({end: 100,duration: 2000});
$('#number4').jQuerySimpleCounter({end: 200,duration: 2500});



  	/* AUTHOR LINK */
     $('.about-me-img').hover(function(){
            $('.authorWindowWrapper').stop().fadeIn('fast').find('p').addClass('trans');
        }, function(){
            $('.authorWindowWrapper').stop().fadeOut('fast').find('p').removeClass('trans');
        });
  </script>
  <script>
    const btn=document.querySelectorAll(".nav-btn");
    const img_slide=document.querySelectorAll(".img-slide");
    const content = document.querySelectorAll(".content");
    var slideshow=function(manual){
      btn.forEach((btn1)=>{
        btn1.classList.remove("active");
      });
      img_slide.forEach((img)=>{
        img.classList.remove("active");
      })
      content.forEach((con)=>{
        con.classList.remove("active");
      });     
      btn[manual].classList.add("active");
      img_slide[manual].classList.add("active"); 
      content[manual].classList.add("active");
    }
    btn.forEach((btn1,i)=>{
        btn1.addEventListener("click",()=>{
          slideshow(i);
        });
      });
  </script>

</body>

</html>